
    <div id="popupOverlay-{{ table_name }}" 
         class="overlay-container">
        <div class="popup-box">
            <h2 style="color: green;">{{ table_name }} Form</h2>
            <form action="add_content" class="form-container">
              {% for column in data['columns'] %}

                <label class="form-label" 
                       for="{{column}}">
                       {{column}}:
                  </label>
                <input class="form-input" type="text" 
                       placeholder="Введите {{column}}" 
                       id="{{ table_name }}-{{column}}" name="{{column}}" required>

                <!-- <label class="form-label" for="email">Email:</label>
                <input class="form-input"
                       type="email" 
                       placeholder="Enter Your Email"
                       id="email" 
                       name="email" required> -->
              {% endfor %}
                <button class="btn-submit" 
                        type="submit">
                  Submit
                  </button>
            </form>

            <button class="btn-close-popup" 
                    onclick="togglePopup(this)" popupOverlay="{{ table_name }}">
              Close
              </button>
        </div>
    </div>
